<?xml version="1.0"?>
<model>
  <name>ika_rover</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>İKA Kursu</name>
    <email>kurs@example.com</email>
  </author>
  <description>
    İKA Rover - 5 Noktadan Temaslı (2 Ön Caster + 1 Arka Caster) ve RGB-D Kameralı Nihai Model
  </description>
</model>
